/*
	Created by Samuel San Nicolas - 3/19/2016
	This page contains the styling for all pages provided by this web service.
*/

#signature {
	font-family: monospace;
	font-size: 18px;
}

#login, #nav {
	float: right;
	margin-right: 20px;
}

#nav a, #back a {
	text-decoration: none;
	font-size: 20px;
}

#nav div, #back {
	border: 2px solid #80766a;
	display: inline-block;
	background-color: #eaf4f6;
	padding: 5px;
}

#nav div {
	margin-left: 5px;
}

a {
	color: #80766a;
}

#create {
	text-decoration: none;
	font-size: 15px;
}

#loginOptions {
	float: right;
}

#container {
	height: 100%;
	position: relative;
}

header, footer {
	height: 10%;
	width: 100%;
	background-color: #7fc6db;
	margin: 0px;
	padding: 10px;
}

footer {
	height: 8%;
	position: absolute;
	clear: both;
	width: 100%;
	z-index: 10;
	text-align: center;
}

footer p {
	color: #80766a;
	margin-top: 10px;
	margin-bottom: 0px;
}

footer #bar {
	color: #80766a;
	display: inline-block;
}

body{
	height: auto;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

#content {
	padding: 10px;
	padding-bottom: 8%;
}

header #title {
	margin: 0px;
	display: inline-block;
	color: #80766a;
	font-weight: normal;
}

#homeContent {
	width: 100%;
	padding: 0px;
}

#pageDesc {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#pageDesc h2 {
	color: #80766a;
	text-align: center;
	clear: both;
	font-size: 40px;
	font-style: italic;
}

h3#siteDesc {
	font-size: 30px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 60px;
}

#exampleContent {
	text-align: center;
}

.section {
	width: 25%;
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

h3.sectionTitle {
	text-align: center;
	font-size: 20px;
}

.section img {
	text-align: center;
	height: 250px;
	width: 400px;
}

.section p{
	text-indent: 40px;
	text-align: left;
}

#otherFeatures {
	clear: both;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

table#featureList {
	display: inline-block;
}

#featureList td {
	text-align: left;
}

#otherFeatures table, #otherFeatures td, #otherFeatures th {
	border: 1px solid black;
	border-collapse: collapse;
}

#week {
	text-align: center;
}

#important {
	font-weight: bold;
}

#terms {
	width: 60%;
	margin: auto;
	text-align: center;
}

#required {
	color: red;
}

#formInstr {
	margin-top: 5%;
	margin-bottom: 0px;
	text-align: center;
}

#createForm p {
	font-size: 12px;
	font-style: italic;
	margin-top: 0px;
}

#settingsForm {
	margin-top: 5%;
}

#createForm, #settingsForm{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid grey;
	text-align: center;
	padding: 5px;
}

#webname {
	margin: 0px;
	text-decoration: none;
	color: black;
}

#loaded {
	border: 2px solid black;
}

#forecastTable, #forecastTable td, #forecastTable tr {
	border: 1px solid black;
	border-collapse: collapse;
}

#forecastTable p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#settingsForm legend {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: 20px;
}

#currentloading, #forecastloading, #todoloading {
	height: 200px;
	width: 200px;
}

#add {
	display: inline-block;
	color: green;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 15px;
}

.del {
	color: red;
	background-color: white;
	border: 1px solid #CECECE;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 30px;
	font-size: 12px;
}

#special {
	text-align: center;
}

#instructions {
	text-align: left;
	text-indent: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#instructions h2 {
	text-align: center;
	font-size: 30px;
	color: #80766a;
	font-weight: normal;
}

#termsCheckBox {
	font-size: 12px;
}

#error {
	background-color: pink;
	border: 4px dotted red;
	color: red;
	font-size: 15px;
	display: inline-block;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#forecastTable {
	margin-left: auto;
	margin-right: auto;
}

#currentWeather {
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding:  0px 30px 30px 30px;
}

#currentWeather p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#current {
	display:inline-block;
	padding-right: 10%;
}

#current h3 {
	text-align: center;
	font-size: 20px;
}

#todo {
	display: inline-block;
	vertical-align: top;
}

#currentSettings {
	display: inline-block;
}

#currentSettings ul {
	text-align: left;
}

#cursetContainer {
	text-align: center;
}

#present {
	text-align: center;
	margin-bottom: 40px;
}

#present h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 5px;
}

#presentDate {
	margin-top: 0px;
}

#listContainer {
	text-align: left;
}

#weatherIcon, #weatherIconCurrent {
	width: 100px;
	height: 100px;
}

#weatherIcon {
	padding-bottom: 15px;
}

#weatherIconCurrent {
	padding-bottom: 30px;
}

#temperatureCurrent {
	padding-bottom: 15px;
	font-size: 25px;
	font-weight: bold;
}

#temperature {
	padding-bottom: 7px;
	font-size: 20px;
}

#todoerror {
	color: red;
	font-style: italic;
}

#addItem {
	text-align: right;
}

#list p {
	margin: 0px;
}

#add:hover, .del:hover, #list p:hover {
	cursor: pointer;
}

#logo {
	height: 32px;
	width: 32px;
	margin-right: 8px;
	border-radius: 8px;
}

#forecastTable td:hover {
	cursor: pointer;
}

#deleteContainer {
	width: 100%;
	text-align: center;
	margin-top: 25px;
}

#deleteForm {
	font-size: 12px;
	display: inline-block;
	text-align: center;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

#deleteForm h2, #deleteForm input[type="submit"] {
	color: red;
}

#deleteForm h2 {
	font-size: 20px;
}

#delError {
	background-color: pink;
	border: 1px dashed red;
	color: red;
	display: inline-block;
}

#mainError {
	margin-top: 10px;
	float: right;
	clear: both;
	border: 1px solid red;
	background-color: pink;
	color: red;
	padding: 5px;
}

#mainLogin {
	float: right;
	clear: both;
}

#addError {
	display: none;
	font-size: 12px;
	font-style: italic;
	color: red;
	border: 1px dotted red;
	background-color: pink;
	margin-top: 5px;
	text-align: center;
}
